html,body {  font-size:14px; height:100%;  }
.hover{ opacity: .8; }
li{list-style:none;}

.flex-wrap{ display: -webkit-box;display: -webkit-flex;	display: flex; }
.flex-con{ -webkit-box-flex: 1; -webkit-flex: 1; flex: 1;}
.flex-vertical{ -webkit-box-orient: vertical;-webkit-flex-flow: column;flex-flow: column;}

.border-t,.border-b{ position:relative;  }
.border-t:before,.border-b:after{ content: '';position: absolute;left: 0;top:0;background: #ddd;right:0;height: 1px;-webkit-transform: scaleY(0.5);transform: scaleY(0.5);-webkit-transform-origin: 0 0;transform-origin: 0 0; }
.border-b:after{ top:auto; bottom:0;  }

#wrap{ height: 100%; }

/*公共样式*/
/*顶部栏start*/
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.top-bar{
    width:100%;
    height: 50px;
    border-bottom: 1px solid #DDDFE3;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    position:fixed;left:0;top:0;z-index:100;
}
.top-bar .top-back{
    position: absolute;
    left:0px;
    bottom:12px;
    width: 12px;
    padding: 0 15px;  /*扩大点击范围*/
}


.hide{
    display: none;
}
.show{
    display: block;
}

/*index界面*/
header{ background-color: #fff; }
header ul li { height: 50px; line-height: 50px; text-align: center; display: none; color: #323237; position: relative;font-size: 18px;  }
header ul li.active{ display: block; }
#footer{  background-color: #fff; }
#footer ul li{  padding-top: 36px; padding-bottom: 4px; background: url() no-repeat center 2px; background-size: auto 30px; text-align: center;}
#footer ul li{ color: #888; }   /*文字颜色*/
#footer ul li.active{ color: #000; }    /*激活状态下的文字颜色*/
#footer ul li:nth-child(1){ background-image: url(../image/icon/bottombtn01.png); }
#footer ul li:nth-child(2){ background-image: url(../image/icon/bottombtn02.png); }
#footer ul li:nth-child(3){ background-image: url(../image/icon/bottombtn03.png); }
#footer ul li:nth-child(4){ background-image: url(../image/icon/bottombtn04.png); }

#footer ul li:nth-child(1).active{ background-image: url(../image/icon/bottombtn01_active.png); }
#footer ul li:nth-child(2).active{ background-image: url(../image/icon/bottombtn02_active.png); }
#footer ul li:nth-child(3).active{ background-image: url(../image/icon/bottombtn03_active.png); }
#footer ul li:nth-child(4).active{ background-image: url(../image/icon/bottombtn04_active.png); }
.flex-con{
  overflow: auto
}
.person-center{width:20px;position:absolute;bottom:10px;right:0px;padding:0 10px;}

/*login界面*/
.login .banner img{
    width: 100%;
    font-size: 18px;
}
.login .title{
    width: 50%;
    margin: -30px auto 30px;
    text-align: center;
}
.login .title .left{
    margin-right: 30px;
    display: inline-block;
}
.login .line{
    border-bottom: 3px solid #f3e728;
}
.login .info input{
    display: block;
    margin: 20px auto;
    width: 64%;height: 40px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding-left: 40px;
}
.login .info .phone{
    background: url(../image/icon/phone.png) no-repeat;
    background-size: 20px;
    background-position:10px;
}
.login .info .pwd{
    background: url(../image/icon/pwd.png) no-repeat;
    background-size: 20px;
    background-position:10px;
}
.login .info .captcha{
    background: url(../image/icon/captcha.png) no-repeat;
    background-size: 20px;
    background-position:10px;
}
.login .ope{
    width: 64%;
    margin: 20px auto;
    color: #a9a9a9;
    margin-top: 20px;
}
.login .ope .forget{
    line-height: 30px;
}
.login .ope .btn-login{
    background: #f3e728;
    padding:10px 40px;
    border-radius: 20px;
    position: absolute;
    right: 20%;
    color: #000;
}
.login .ope .btn-register{
    background: #f3e728;
    padding:10px 40px;
    border-radius: 20px;
    color: #000;
    margin-left:30% ;
}
.login .captcha-group{
    position: relative;
}
.login .info .get-captcha{
    position: absolute;
    right:20%;
    top:25%
}

/*frame0*/
.frame0 .swiper-container{
    height: 40vh;
}
.frame0 .swiper-container img {
    width: 100%;
    height: 40vh
}
.frame0 .title{
    font-size: 18px;
    margin: 20px 10px 10px;
    font-weight: 500;
}
.frame0 .hot-product li{
    width: 95%;
    margin: 0 auto;
}
.frame0 .hot-product li img{
    width: 100%;
}
.frame0 .hot-product li h4{
    font-size: 16px;
    font-weight: normal;
}
.frame0 .hot-product li p{
    color:#666;
    margin: 5px 0;
}
.frame0 .hot-product li span{
    color:#b61716;
    margin: 0 0 20px;
    font-size: 16px;
}
.frame0 .beam{
    width: 100%;
    height: 10px;
    background: #eee;
}
.frame0 .cooperate{
    padding-bottom:20px;
}
.frame0 .cooperate img{
    width: 31%;
    margin: 0;
}

/*frame1*/
.frame1  .caption{
    border: 1px solid #ddd;
    padding: 5px 20px;
    margin: 20px auto;
}
.frame1 .caption{
    border: 1px solid #ddd;
    padding: 5px 20px;
    margin: 20px auto;
}
.frame1 .check li{
    display: flex;
    display: -webkit-flex;
    width: 100%;
}
.frame1 .check li span{
    width: 30%;
    text-align: right;
}
.frame1 .check li .right{
    width: 70%;
    /*background-color: #999;*/
    text-align: right;
}
.frame1 .check li img{
    width: 20px;
    vertical-align: middle;
}
.frame1 .option input{
    width: 60%;
    height: 30px;
    margin-top: 5px;
}
.frame1 .check li{
    margin: 10px auto;
    width: 90%;
    background: #f3f3f3 ;
    padding: 10px;
    border-radius: 2px;
}
.frame1 .check li select{
    border:none;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    direction: rtl;
    font-size: 14px;
}
.frame1 .check li .icon-next{
    width: 20px;
}
.frame1 .contacts input{
    text-align: right;
}
.frame1 .contacts textarea{
    width:100%;height:120px;
}
.frame1 .submit-btn{
    margin: 20px auto 30px;
}
.frame1 .contact-num{
    padding-bottom: 30px;
    color: #999;
}

/*frame2 frame3*/
.frame2 li:nth-child(1),.frame3 li:nth-child(1){
    margin-top: 10px
}

/*server-order*/
.server-order section li{
    padding:20px 14px;background:#eee;margin-bottom:10px;
}
.server-order section li .time{
    text-align: right;
}

/*server-order-detail*/
.server-order-detail .product {
    margin: 10px;
    background: #f7f7f7;
    padding: 15px 10px;
    ;
}
.server-order-detail .interface-body li {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.server-order-detail .interface-body li strong {
    width: 30%;
}
.server-order-detail .interface-body li span {
    width: 70%;
    padding-left: 20px;
}
.server-order-detail .btn {
    text-align: center;
    margin-top: 20px;
}
.server-order-detail .btn button:nth-child(1) {
    margin-right: 10px;
}

/*bind-company*/
.bind-company .company-select{
    position: relative;
    height: 50px;
    line-height: 50px;
    background: #f7f7f7;
    padding: 10px;
}

.bind-company .company-select .company-right{
    position: absolute;
    right: 5px;
}
.bind-company .company-select img{
    width: 30px;
    vertical-align: middle;
}
.bind-company .business-licence{
    text-align: center;
}
.bind-company .business-licence .font{
    height: 90px;
    line-height: 90px;
    font-size: 16px;
}
.bind-company .business-licence img{
    width: 50%;
    margin-bottom: 40px;
}
.submit-btn{
    background: #f3e728;
    padding: 10px 30px;
    border-radius: 20px;
}
